@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    font-family: 'Amatic SC', cursive;
    font-size: 1.6rem
}

.header__content {
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center
}

.header__title {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    text-align: center
}

.header__text {
    display: flex;
    font-family: 'Amatic SC', cursive;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    background-color: #0000009e
}

.header__subtitle {
    text-align: center
}

.header__button {
    width: 170px;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #e44c65;
    color: white
}

/* Section background */
.background {
    display: flex;
    background-color: #f0f0f0
}

.background__block {
    min-height: 650px;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap
    
}
.background__title {
    font-size: 3rem;
    font-weight: bold
}

.background__text {
    background-color: white;
    padding: 20px;
    width: 80%;
    margin: 10px
}

.background__content {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.background__img {
    border-radius: 80%;
    max-width: 85%;
    border: 26px solid white;
    padding: 13px;
    position: absolute;
    right: 123px;
    width: 30%;
    top: 160px;
}
.snapshot-team {
    background-color: #f0f0f0;
    min-height: 650px
}


.item__slider {
    width: 330px;
    background-color: white;
    height: 380px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px
}

.item__slider-img {
    border-radius: 50%;
    max-width: 100%
}

.item__slider-title {
    margin-top: 20px
}

.item__slider-text {
    display: none;
    text-align: center;
    padding: 10px
}
.item__slider:hover {
    background-color: #e44c65;
    transition: 2s
}
.item__slider:hover .item__slider-text {
    display: block
}
.item__slider:hover .cpm_type3 {
    --cpmMask: polygon(90% 0, 100% 0, 100% 10%, 100% 90%, 100% 100%, 90% 100%, 10% 100%, 0 100%, 0 90%, 0 10%, 0 0, 10% 0);
}

.snapshot-team__title, .gallery__title {
    margin-bottom: 40px;
    text-align: center;
}

.gallery__title {
    margin-top: 50px
}

.gallery__block-item {
    width: 40%;
    display: flex;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.gallery__item-img {
    max-width: 100%;
}

.gallery__wrapper {
    display: flex;
    justify-content: center;
    position: relative
}

.tription {
    height: 100%;
    background-color:#304352;
    color: #ed4e6e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px
}
.description__title {
    color: #e44c65;
    font-size: 2.3rem;
    font-weight: bold
}

.description__content {
    height: 63%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    font-size: 1.6rem;
    color: white
}

.description__button {
    background-color: #ed4e6e;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 80%;
    width: 100px;
    color: white
}

.gallery__block-item:hover .description {
    transition: 1s;
    transform: rotateY(0deg);
    z-index: 1;

}

.gallery__block-item:hover .gallery__item-img {
    left: 100px;
    transition: left 1s linear;
}

.footer {
    background-color: #304352;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px
}

.footer__container {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white
}

.footer__content {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 50px
}

.footer__content-paragraph {
    text-align: center
}
.footer__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
}

.form__wrapper-input {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.form__input {
    width: 48%;
    background-color: transparent;
    border: 1px solid white;
    height: 50px;
    padding: 10px;
    border-radius: 5px
}

.form__text {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px
}

.form__button {
    width: 55%;
    height: 55px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #e44c65;
    color: white
}
.form__button:hover {
    background-color: #000000b5;
    transition: 3s;
}
.form__button:not(:hover) {
    background-color: #e44c65;
    transition: 3s;
}

.social-block {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.social__list {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.social__item {
    margin: 10px;
    margin-top: 30px
}

.social__link:hover{
    background-color: white;
    color: #e44c65;
    text-decoration: none;
}

.social__link {
    color: white;
    margin: 10px;
    font-size: 130%;
    border: 1px solid white;
    padding: 5px;
    width: 45px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Menu */

.navBurger {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    background:#e44c65;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out;
    z-index: 9
    }
    .navBurger:before, .navBurger:after {
    content: "";
    position: absolute;
    background:#e44c65;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.5s ease;
    }
    .navBurger:before {
    top: -10px;
    }
    .navBurger:after {
    bottom: -10px;
    width: 90%;
    }
    .navBurger.active {
    background: transparent;
    background-clip: content-box;
    position: absolute;
    z-index: 999
    }
    .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%;
    z-index: 9
    }
    .navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%;
    z-index: 9
    }

    .overlay {
        position: fixed;
        background: #2a3140;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transform-origin: right top;
                transform-origin: right top;
        -webkit-transform: scale(0);
                transform: scale(0);
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
    }
    .overlay.open {
    opacity: 0.99;
    visibility: visible;
    z-index: 9;
    -webkit-transform: scale(1);
            transform: scale(1);
    }
    .overlay.open li {
    display: block;
    -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
            animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    }
    .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    }
    .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    }
    .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
    }
    .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    }

    .overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    bottom: 10vw;
    }
    .overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    }
    .overlayMenu ul li {
    display: block;
    position: relative;
    opacity: 0;
    width: 100%;
    }
    .overlayMenu ul li a {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.09);
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 40px 10px 40px;
    margin: 5px 0;
    transition: 0.2s;
    }
    .overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    padding-left: 80px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.03);
    }

    .locked {
    overflow: hidden;
    }

    @-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    }

    @keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    }

    .container__wrapper {
        position: relative
    }

    /* Effect image */

    @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700); 

    article {
    width: 50%;
    overflow: hidden;
    position: relative;
    border: 5px solid rgba(255,255,255,.85);
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    height: 340px
    }

    article:before {
    content: '';
    display: block;
    padding-top: 56.25%;
    }
  
    article:after {
        content: '';  
        background-size: cover;
        position: absolute;
        top:0;left:0;bottom:0;right:0;
        opacity: .8;
    }

    .article__first:after {
        background: url('./images/gallery-img1.jpg') no-repeat; 
    }

    .article__two:after {
        background: url('./images/gallery-img2.jpg') no-repeat; 
    }
    .article__three:after {
        background: url('./images/gallery-img3.jpg') no-repeat; 
    }
    .article__four:after {
        background: url('./images/gallery-img4.jpg') no-repeat; 
    }

    figure {
    background: rgba(52,65,74,.8);
    position: absolute;
    width: 100%;
    height: 100%;
    right: calc(100% + 250px);
    top: 0;
    z-index: 2;
    text-align: center;
    padding: 1rem;
    transition: 1s linear;
    }
    figure:after {
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 250px solid rgba(52,65,74,.8);
    border-right: 250px solid rgba(0,0,0,0);
    border-bottom: 325px solid rgba(0,0,0,0);
    }
    article:hover figure {
    right: 0;
    }
    figure > * {
    opacity: .03;
    transition: .1s .9s;
    }
    article:hover figure * {opacity: 1;}
    a {color: #F4D256}
    .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #F4D256;
    }

    /* Effect card */
    .cpm{
        --uiCMPMask: var(--cpmMask);
        --uiCPMStrokeThickness: var(--cpmStrokeThickness);
        --uiCPMStrokeColor: var(--cpmStrokeColor);
        
        box-sizing: border-box;
        display: inline-block;
        padding: var(--uiCPMStrokeThickness);
        clip-path: var(--uiCMPMask);
        background-color: var(--uiCPMStrokeColor);
      }
      
      .cpm__img{
        max-width: 100%;
        display: block;
        clip-path: var(--cpmMask);
      }
      
      /* masks */
      
      .cpm_type1{
        --cpmMask: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%);
      }
      
      .cpm_type2{
        --cpmMask: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      }
      
      .cpm_type3{
        --cpmMask: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);
      }
      
      .cpm_type4{
        --cpmMask: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
      }
      
      /* animations for masks */
      
      .cpm{
        transition: clip-path var(--cpmAnimationDuration, .2s) var(--cpmAnimationTimingFunction, ease-out);
      }
      
      .cpm__img{
        transition: clip-path var(--cpmAnimationDuration, .2s) var(--cpmAnimationTimingFunction, ease-out);
      }

      .cpm_type3-a1{
        --cpmAnimationDuration: .5s
      }

      /* Animation button */

    @import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
    @import url("https://fonts.googleapis.com/css?family=Roboto:100");

    .mas {
    position: absolute;
    color: white;
    background-color: #e44c65;
    height: 100%;
    text-align: center;
    width: 101%;
    font-family: 'Amatic SC', cursive;
    font-weight: 300;
    position: absolute;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }

    @-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    }
    @keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    }

    .button-container-2 {
        position: relative;
        width: 350px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7vh;
        overflow: hidden;
        border: 1px solid #000;
        font-family: 'Amatic SC', cursive;
        font-weight: 300;
        transition: 0.5s;
        letter-spacing: 1px;
        /* border-radius: 5px; */
        border: 1px solid white
    }
    .button-container-2 button {
        width: 101%;
        height: 100%;
        font-family: 'Amatic SC', cursive;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 1px;
        background: #000;
        -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
        mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
        -webkit-mask-size: 3000% 100%;
        mask-size: 3000% 100%;
        border: none;
        color: white;
        cursor: pointer;
        -webkit-animation: ani2 0.7s steps(29) forwards;
        animation: ani2 0.7s steps(29) forwards;
    }
    .button-container-2 button:hover {
        -webkit-animation: ani 0.7s steps(29) forwards;
        animation: ani 0.7s steps(29) forwards;
    }
    
    .button-container-2 button:not(:hover) {
        background: black;
        transition: 3s
    }


    /* Красивая рамка */

    .example {
    display: inline-block;
    /* margin: 5vmin 3vmin; */
    /* height: 5rem;
    width: 5rem; */
    /* font-size: 3rem; */
    /* color: #FFFFFF; */
    line-height: 3rem;
    padding: 30px;
    background-color: white
    }

    .example {
    background: linear-gradient(to right, #e44c65 0%, #e44c65 20%, transparent 20%, transparent 80%, #e44c65 80%, #e44c65 100%), linear-gradient(to right, #e44c65 0%, #e44c65 20%, transparent 20%, transparent 80%, #e44c65 80%, #e44c65 100%), linear-gradient(to bottom, #e44c65 0%, #e44c65 20%, transparent 20%, transparent 80%, #e44c65 80%, #e44c65 100%), linear-gradient(to bottom, #e44c65 0%, #e44c65 20%, transparent 20%, transparent 80%, #e44c65 80%, #e44c65 100%);
    background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    background-repeat: no-repeat;
    }
    .example:nth-of-type(3) {
    background: linear-gradient(to right, #86CB92 0%, transparent 100%), linear-gradient(to right, transparent 0%, #86CB92 100%), linear-gradient(to bottom, #86CB92 0%, transparent 100%), linear-gradient(to bottom, transparent 0%, #86CB92 100%), linear-gradient(to right, #86CB92 0%, #86CB92 100%), linear-gradient(to right, #86CB92 0%, #86CB92 100%);
    background-size: 70% 3px, 70% 3px, 3px 70%, 3px 70%, 20% 20%, 20% 20%;
    background-position: 50% 0, 50% 100%, 0 50%, 100% 50%, 5% 5%, 95% 95%;
    background-repeat: no-repeat;
    }

    @media screen and (max-width: 768px) {
        .background__img {
            width: 40%;
            right: 6%;
            top: 178px

        }
    }

    @media screen and (max-width: 425px) {
        .background__block {
            min-height: 1000px
        }

        .background__block-img {
            display: flex;
            justify-content: center;
            align-items: center
        }
        .background__img {
            position: static;
            width: 100%
        }

        .background__content {
            width: 100%
        }
        .background__text {
            width: 100%
        }

        .gallery__wrapper {
            display: block
        }

        article {
        width: 100%
        }

        .form__wrapper-input {
            flex-wrap: wrap
        }

        .form__input {
            width: 100%;
            margin-top: 10px
        }

        .button-container-2 {
            width: 335.75px
        }
    }

    @media screen and (max-width: 375px) {
        .button-container-2 {
            width: 280px
        }
    }